doctype html
html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    meta(name='theme-color' content='#41caff')
    meta(name='yandex-verification' content='1e35c2242a2ebcee')
    meta(name='author' content='Vasily Myazin')

    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,600,900' rel='stylesheet')

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    script(type="module" src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js')
    //- script(type="text/javascript" src="/javascript/search.js" charset="utf-8")
    script(type="text/javascript" src="/javascript/episodes.js" charset="utf-8")
    script(type="text/javascript" src="/javascript/player.js" charset="utf-8")
    //- TODO: https://stevenwestmoreland.com/2018/01/how-to-include-bootstrap-in-your-project-with-webpack.html
    
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel="icon" href="/images/favicon.png" type="images/x-icon")

    //- check if projectInfo object is present, a lot depends on it
    if projectInfo
      if isEpisodePage
        title №#{episode.episodeNum} #{episode.title} • #{projectInfo.project.title}
      else if isBlogPost
        title #{postMetaData.title} • #{projectInfo.project.title}
      else if path == 'home'
        title #{projectInfo.project.title}
      else
        title #{projectInfo.project.title} • #{pageTitle}
    
      meta(property='og:type' content='website')
      if isEpisodePage
        meta(property='og:title' content=projectInfo.project.title + ' • №' + episode.episodeNum + ' ' + episode.title)
        meta(property='og:description' content=episode['itunes:subtitle'])
        meta(property='og:url' content=path)
      else if isBlogPost
        meta(property='og:title' content=postMetaData.title)
        meta(property='og:description' content=projectInfo.project.title)
        meta(property='og:url' content=path)
      else
        meta(property='og:title' content=projectInfo.project.description + ' • ' + projectInfo.project.title)
        meta(property='og:url' content='/')
        meta(property='og:description' content=projectInfo.project.description)

      //- OG:Image
      if isEpisodePage
        if episode.shareImg
          meta(property='og:image' content=episode.shareImg)
      else if isBlogPost && postMetaData.image !== undefined
        meta(property='og:image' content=postMetaData.image)
      else
        meta(property='og:image' content='/images/og-techlife-artwork-1200.jpg')

  body(class=path)
    .master-container
      .container-fluid
        include partials/_top-nav
      .container-fluid
        h1
          a.reset-link-style(href="/")
            img(src='/images/tehnologii-head.svg' alt='Технологии и жизнь')

      block content
    