extends layout

block content

  .container
    include partials/_sec-nav

    .row
      .col-sm-12
        h2 Визуализация подкаста

        .stats-overview.container.mt-5
          .row
            .col-md-3.col-sm-6.mb-4
              .stat-box.rounded-circle.d-flex.flex-column.justify-content-center.align-items-center
                .stat-number.display-4 #{listeners}
                .stat-label.text-center слушателей
            .col-md-3.col-sm-6.mb-4
              .stat-box.rounded-circle.d-flex.flex-column.justify-content-center.align-items-center
                .stat-number.display-4 #{totalHours}
                .stat-label.text-center часов аудио
            .col-md-3.col-sm-6.mb-4
              .stat-box.rounded-circle.d-flex.flex-column.justify-content-center.align-items-center
                .stat-number.display-4 #{countries}
                .stat-label.text-center стран, где записывали
            .col-md-3.col-sm-6.mb-4
              .stat-box.rounded-circle.d-flex.flex-column.justify-content-center.align-items-center
                .stat-number.display-4 #{guests}
                .stat-label.text-center гостей

        h3.mb-4 По годам

        .episodes-by-year
          each episodes, year in episodesByYear
            .year-row.d-flex.align-items-center
              .year-label.mr-3 #{year}
              .episode-blocks
                each episode in episodes
                  .episode-block(title=episode.title)


  include partials/footer

  include partials/_player