//- pages/stats.pug
extends layout

block content

  .container
    include partials/_sec-nav

    .row
      .col-sm-12
        h2 Визуализация подкаста

        .stats-overview.container.mt-5
          .row
            .col-md-3.col-sm-6.mb-4
              .stat-box.rounded-circle.d-flex.flex-column.justify-content-center.align-items-center
                .stat-number.display-4 #{listeners}
                .stat-label.text-center слушателей
            .col-md-3.col-sm-6.mb-4
              .stat-box.rounded-circle.d-flex.flex-column.justify-content-center.align-items-center
                .stat-number.display-4 #{totalHours}
                .stat-label.text-center часов аудио
            .col-md-3.col-sm-6.mb-4
              .stat-box.rounded-circle.d-flex.flex-column.justify-content-center.align-items-center
                .stat-number.display-4 #{countries}
                .stat-label.text-center стран, где записывали
            .col-md-3.col-sm-6.mb-4
              .stat-box.rounded-circle.d-flex.flex-column.justify-content-center.align-items-center
                .stat-number.display-4 #{guests}
                .stat-label.text-center гостей

        .mb-4
          h3.mb-4 По годам

          .episodes-by-year
            each episodes, year in episodesByYear
              .year-row.d-flex.align-items-center
                .year-label.mr-3 #{year}
                .episode-blocks
                  each episode in episodesByYear[year]
                    .episode-block(
                      data-episode-num=episode.episodeNum
                      data-title=episode.title
                      data-date='00.00.00'
                      data-duration='99:99'
                    )
                      a(href=`/episodes/${episode.episodeNum}`)= episode.title


        .mb-4
          h3.text-white.mb-4 Источники слушателей

        .row
          each source in audienceSummary
            .col  
              h4.mb-2= source.sourceName
              each yearSummary in source.yearSummaries
                p #{yearSummary.year}: #{yearSummary.totalPlays} plays

  include partials/footer

  include partials/_player

  script.
    document.addEventListener('DOMContentLoaded', function() {
      const episodeBlocks = document.querySelectorAll('.episode-block');

      episodeBlocks.forEach(block => {
        const tooltip = document.createElement('div');
        tooltip.className = 'episode-tooltip';
        tooltip.innerHTML = `
          <p><b>${block.dataset.title}</b></p>
          <p>Дата: ${block.dataset.date}</p>
          <p>Длительность: ${block.dataset.duration}</p>
        `;
        block.appendChild(tooltip);

        block.addEventListener('mouseenter', () => {
          tooltip.style.display = 'block';
          console.log('entered');
        });

        block.addEventListener('mouseleave', () => {
          tooltip.style.display = 'none';
        });
      });
    });